# Wallet / blockchain keys
PRIVATE_KEY=               # Wallet private key placeholder

# API keys
DATALASTIC_API_KEY=        # API key for Datalastic vessel data
VERIFIER_API_KEY_TESTNET=  # API key for testnet verification API

# Application URLs
PUBLIC_APP_URL=            # Public app URL (Public JSON API to request data from Datalastic API and forward it on-chain through FDC protocol)

# Smart contract addresses
ORACLE_ADDRESS=            # Flare FDC Oracle contract address
MARKET_ADDRESS=            # Market contract address
RFQ_VAULT_ADDRESS=         # RFQ Vault contract address
